<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Cover & Pengantar Penerbit</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <embed src="../../assets/Cover-Pengantar.pdf" type="application/pdf" width="100%" height="600px" />
    <!-- <ion-button color="primary" (click)="OpenPdf()">Open pdf</ion-button> -->
    <!-- <button color="primary" ion-button full (click)="OpenPdf()">Open PDF Local</button> -->
    <!-- <pdf-viewer [src]="displayData.pdfSource" [render-text]="true" style="display: block;"></pdf-viewer> -->
</ion-content>